* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #eee;
}

section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

.successes {
  margin: 3rem 0 .5rem;
}

.successes {
  text-align: center;
  letter-spacing: .5rem;
}

.gameboard {
  display: grid;
  align-items: center;
  border: 2px solid black;
  background-color: #fff;
  border-radius: 2px;
}

.segment {
  width: 100%;
  height: 100%;
  border: 1px dashed;
  border-radius: 3px;
}

.lead, .letter {
  text-align: center;
}

.letter.active {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 1;
}

.letter.segment-rear::after {
  content: '';
  position: absolute;
  display: block;
  background-color: black;
}

.letter[data-direction="north"]::after {
  bottom: -1px;
  width: 75%;
  height: 1.5px;
}

.letter[data-direction="east"]::after {
  left: 0;
  width: 1.5px;
  height: 75%;
}

.letter[data-direction="south"]::after {
  top: 0px;
  width: 75%;
  height: 1.5px;
}

.letter[data-direction="west"]::after {
  right: 0;
  width: 1.5px;
  height: 75%;
}

.letter.active.invalid {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  font-weight: normal;
  /* opacity: .8; */
}

.letter.invalid:not(.active) {
  opacity: .4;
}

/* .letter.guess-group-rear::before {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: .5px;
  height: 60%;
  background-color: black;
}

.letter.guess-group-rear[data-direction="north"]::before {
  bottom: -1px;
  width: 67%;
  height: .5px;
}

.letter.guess-group-rear[data-direction="east"]::before {
  left: 0;
  width: .5px;
  height: 67%;
}

.letter.guess-group-rear[data-direction="south"]::before {
  top: 0px;
  width: 67%;
  height: .5px;
}

.letter.guess-group-rear[data-direction="west"]::before {
  right: 0;
  width: .5px;
  height: 67%;
} */
