* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #eee;
}

.current-word {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 5px;
}

.current-word h3 {
  letter-spacing: .5rem;
}

.gameboard {
  display: grid;
  align-items: center;
  margin: 0 auto;
  border: 2px solid black;
  background-color: #fff;
  border-radius: 4px;
}

.segment {
  width: 100%;
  height: 100%;
  border: 1px dashed;
  border-radius: 3px;
}

.lead, .letter {
  text-align: center;
}

/* .letter.initial {
  cursor: pointer;
} */

.letter.active {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 1;
}

.letter.active.spacer {
  font-weight: normal;
}

.letter.first::after {
  content: '';
  position: absolute;
  display: block;
  background-color: black;
}

.letter[data-direction="north"]::after {
  bottom: -1px;
  width: 75%;
  height: 1px;
}

.letter[data-direction="east"]::after {
  left: 0;
  width: 1px;
  height: 75%;
}

.letter[data-direction="south"]::after {
  top: -1px;
  width: 75%;
  height: 1px;
}

.letter[data-direction="west"]::after {
  right: 0;
  width: 1px;
  height: 75%;
}

.available {
  position: relative;
  height: 100%;
  background-color: mistyrose;
}